@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --color-01: #222831;
    --color-02: #393E46;
    --color-03: #0E46A3;
    --color-04: #EEEEEE;
    --color-05: #ffffff;
}

/* General Reset */
* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Poppins', serif;
}


/* ======================================= */
/* Body Styles */
/* ======================================= */

body {
    width: 100vw;
    min-height: 100vh;
    background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ======================================= */
/* Weather Container Styles */
/* ======================================= */

.weather-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    padding: 20px;
    background-color: var(--color-05);
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 350px;
    min-height: 400px;
    background: rgb(255 255 255 / 14%);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(2.5px);
    -webkit-backdrop-filter: blur(2.5px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}

.weather-container div img {
    width: 30px;
}

.suggestionList {
    top: 100px;
    width: 80%;
    left: 50%;
    transform: translateX(-50%);
}

/* ======================================= */
/* Weather Details Styles */
/* ======================================= */

.weather-details {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    min-height: 300px;
    text-align: center;
    padding: 20px;
    background: #ffffff;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 350px;
    margin: auto;
    background: rgb(255 255 255 / 14%);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(2.5px);
    -webkit-backdrop-filter: blur(2.5px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}

.weather-details img {
    width: 70px;
}

.icon-placeholder {
    font-size: 4rem;
    margin-bottom: 20px;
}

/* ======================================= */
/* Utility Classes */
/* ======================================= */

input {
    display: block;
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    background: var(--color-03);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}

button:hover {
    background: #007e85;
}

.flex {
    display: flex;
}

.hidden {
    display: none;
}

.suggestion-list {
    cursor: pointer;
    display: block;
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    transition: all 0.2s ease-in-out;
}

.suggestion-list:hover {
    background-color: #333;
    color: #fff;
}